<div class="row">
  <div class="col-md-1">
   
  </div>
  <div class="col-md-4">
    <fieldset>
      
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "well" }) do |f| %>
      <legend>Edit Your Profile</legend>
        <%= devise_error_messages! %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :username %>
        <%= f.input :location %>
        <%= f.input :email %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        <%= f.input :password %> 
        <%= f.input :password_confirmation %>
          <% if f.object.encrypted_password.present? %>
            <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password %></div>
          <% end %>
          <%= f.submit "Update", :class => "btn btn-default" %>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-default", :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
      <% end %>
    </fieldset>
  </div>

  <div class="col-md-7">
    <h2>Something about editing account</h2>
  </div>

  </div>



