<p><%= @user.full_name %> Profile Page</p>


<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.full_name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.full_name %></li>
  <% end %>

</ul>



<% @user.beers.each do |beer| %>
<p> <%= link_to beer.name, user_beer_path(@user, beer) %> </p>
<% end %>

<% if current_user == @user %>
  <p> <%= link_to 'New Beer', new_user_beer_path(@user) %> </p>
<% else %>
<% end %>